# flask
.env
venv*/
__pycache__/
*/__pycache__
public/*

# Logs
logs
*.log

# Optional redis cache file
dump.rdb

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# vscode
.vscode

# Mac
.DS_Store

