* {
    font-family: Helvetica;

}

#wrap { 
    margin: 0 auto;
    display: flex;
    padding-top: 170px;      
    flex-direction: column;
    align-items: center;
    /* color: #1c1e7e; */
    color: rgba(115, 115, 115, 1);
  }

#status-code {
font-size: 6rem;
/* color: blanchedalmond; */
font-weight:bolder;
text-shadow:3px 3px #cccccc;
  }
#not-found {
font-size: 3rem;
/* color: blanchedalmond; */
text-shadow:3px 3px #cccccc;
     }
#description { 
    font-size: 2rem;
    /* color: blanchedalmond; */
    width: 30%;
    text-align: center;
    text-shadow:3px 3px #cccccc;
       }


