
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* background-color:ghostwhite; */
    background-color:white;
}

.wrap {
    /* display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 70px  auto 90px; */
    height: 99vh;
    max-height: 99vh;
    position: relative;
    
    

    /* grid-template-areas:
    "header header header"
    "leftBlock infoBlock rightBlock"
    
    "leftBlock comment rightBlock"; */


  }

/* #header {
    grid-area: header;
} */



#two-column {
display: flex;
flex-direction: row;
align-items: center;
/* justify-content: center; */
justify-content: space-around;
width: 90vw;;
margin: 0 auto;
}



#center{

    /* grid-area: infoBlock; */
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95vh;
    justify-content: center;
    /* margin: 0 auto; */
    width: 55%;
    align-items: center;
    padding-top: 70px;
    
}

#gatheringDetail {
    /* height: 100%; */
    overflow: auto;

    display: inline-block;
    width: 98%;
    margin: 20px;
    margin-top: 2px;
    height:98%;
    
}


#gatheringDetail::-webkit-scrollbar {
    width: 1px;
    /* background-color: whitesmoke; */
}

/* #gatheringDetail::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: #66A8FF;
}

#gatheringDetail::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 10px;
    background-color: whitesmoke;
} */






#sticky-block {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    padding-right: 3%;
}


#left-map {
    /* grid-area: mapBlock; */
    /* overflow: scroll; */
   height:30vh;
   width: 100%;
}

.card-header {
    background-color: rgba(63, 220, 231,0.1);
}

.card-body {
    width: 82%;
}

.rating-container {
    width: 82%;
}


.list-group {
    width: 82%;
}

.list-group-item {
    /* background-color: ghostwhite; */
    background-color: white;
}

#right {
    
    
    padding-bottom: 0.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    height: 90vh;
    max-height: 90vh;
    display: inline-block;
    width: 35%;
    margin: 20px;
    margin-top: 2px;
    position: absolute;
    margin-right: 6%;
    margin-bottom: 3.3%;
  
}



#commentArea {
    grid-area: header;
}


#commentCard{
    overflow-y: scroll;
    background-color: white;
}



#commentCard::-webkit-scrollbar {
    width: 1px;
    background-color: whitesmoke;
    /* background-color: black; */
}

#commentCard::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: #66A8FF;
}

#commentCard::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 10px;
    background-color: whitesmoke;
}

#participants {
    overflow: scroll;
    height: 43%;
    padding: 2rem;
    width: 100%;
}

#participants::-webkit-scrollbar {
    width: 1px;
    /* background-color: black; */
}

.host-header {
    padding: 0 !important;
}


.participant {
    width: 100%;
    background-color: transparent;
    border: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.participant-pic {
border-radius: 100%;

}




.figure-img {
    overflow: hidden;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    position: relative;
  }
  
.figure-img>img {
    width: 200%;
    position: absolute;
    left: -50%;
  }





.container-status {
    /* width: 40%;
    position: relative;
    top: 50%;
    left: 50%;*/
    padding: 10px 20px 20px 20px; 
    margin: 0 auto 1% auto;
    box-sizing: border-box;
    /* transform: translate(-50%, -50%); */
    /* background-color: rgb(235, 227, 227); */
    /* box-shadow: 0 20px 50px rgba(43, 151, 184, 0.5); */
}

.skillbox h3 {
    font-size: 15px;
    /* text-transform: uppercase; */
    color: rgb(0, 0, 0);
}

/* .skillbox .percentage {
    float: right;
    position: relative;
    top: -40px;
    font-weight: bold;
    color: #fff;
} */

.cover {
    width: 100%;
    height: 10px;
    background-color: #262626;
    border: 1px solid #3facf5;
    border-radius: 2px;
}

.cover .progressbar {
    height: 6px;
    background-color: #3facf5;
    margin-left: 2px;
    margin-top: 2px;
    border-radius: 2px;
}

.html .progressbar {
    width: 33%;
    animation: animatehtml 1s linear;
}












.centered {
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translate(-50%, -50%);
  }
  .mouse-scroll {
    width: 36px;
    height: 60px;
    border: 1px solid rgba(127, 127, 129, 0.556);
    border-radius: 30px;
  }
  
  .mouse-scroll:before {
    content: "";
    position: absolute;
    left: 14px;
    top: 10px;
    margin: auto;
    width: 8px;
    height: 8px;
    background: rgba(77, 115, 151, 0.8);
    border-radius: 8px;
    animation: scroll-ani 1.5s linear infinite;
  }
  
  @keyframes scroll-ani {
    0% {
      top: 10px;
      opacity: 0.8;
    }
    100% {
      top: 25px;
      opacity: .1;
    }
  }


  /* chat room */


  #groupChatRoom {
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 90%;
    max-height: 75vh;
    border-radius: 35px;
    /* border: thin;
    border-color: turquoise; */

    box-shadow: 1px 1px 8px grey;
    /* width:460px;
    line-height:100px; */
    /* text-align: center; */
    background-color: white;



}



#messagesForm {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    /* position: fixed; */
    bottom: 0;

    display: flex;

    box-sizing: border-box;
    backdrop-filter: blur(10px);


}

#messageInput {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 33px;
    outline: none;
    color: #fff;
    
}

#submit-msg {
    background-color: rgba(255, 56, 92,0.8);
    border: none;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: inherit;
    overflow: scroll;
}

#messages>li {
  
    padding: 0.5rem 1rem;
    /* border-radius: 50%; */
    border:solid;
    width: fit-content;
    border-width:0;
    /* background-color: rgba(63, 220, 231,0.4); */
    background-color: rgba(63, 220, 231,0.3);
}


.message-myself {
    margin: 8px 8px 8px auto;
    box-shadow: 3px 3px 1.5px rgba(0, 0, 0, 0.5);
}

.message-others {
    margin: 8px 8px 8px 8px;
    box-shadow: 3px 3px 1.5px rgba(0, 0, 0, 0.5);
}


/* #messages>li:nth-child(odd) {
    background: #efefef;
} */



:root {
    --animate-duration: 500ms;
    --animate-delay: 1s;
    --animate-repeat: 1;
}


.btn-send:link,
.btn-send:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn-send:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.btn-send:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}

.btn-white {
    /* background-color: rgb(62,220,232); */
    background-color: #FF385C;
    color: #FFF;
}

.btn-send::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
    color: white;
}

.btn-send:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}



#quitEvent {
    opacity: 0.3;
}


.card-hide {
    display: none;
}