

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 88%;
    width: 50vw;
}


#mapForHost {
    height: 80%;
    width: 50vw;
}